<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ePen: Home</title>
    <link href="../static/material-components-web.min.css" rel="stylesheet">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/custom.css" crossorigin="anonymous">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>


    <script  type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script  type="text/javascript" src="../static/pdf.js"></script>


</head>
    <body>

        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="#">
                <i class="d-inline-block align-top material-icons">edit</i>
                ePen
            </a>
        </nav>

        <div class="container mt-5">
            <div class="row ml-5 pl-5">
                <div class="col-md-1.5 mt-4 mr-5 btn" onclick="javascript:window.location.href='./upload'">
                    <div class="card">
                        <img src="../static/images/docs-blank-googlecolors.png"
                             width="120px" alt="Upload new file" class="img-thumbnail">
                    </div>
                    <div class="d-inline-block text-truncate" style="max-width: 120px;">
                        Blank
                    </div>
                </div>
            </div>
            <div class="row ml-5 pl-5" id="stored_documents">
            </div>
        </div>

        <script src="../static/js/bootstrap.min.js" ></script>
        <script src="../static/js/index.js" ></script>
    </body>
</html>